In [1]:
import pandas as pd
import requests
import bs4

In [5]:
api_key = '546a726a616a683039336b46467648'

In [6]:
url = 'http://openapi.seoul.go.kr:8088/(인증키)/xml/tbLnOpendataRentV/1/5/'

In [7]:
def getDf(url) :
    api_key = '546a726a616a683039336b46467648'
    urlRe = url.replace('(인증키)',api_key).replace('xml','json').replace('/5/','/1000/')
    res = requests.get(urlRe).json()
    df = pd.DataFrame(res[url.split('/')[-4]]['row'])
    return df

In [8]:
df = getDf(url)

In [9]:
sel_c = ['SGG_NM','BJDONG_NM','LAND_GBN_NM','FLR_NO','CNTRCT_DE','RENT_GBN','RENT_AREA','RENT_GTN','RENT_FEE','BLDG_NM','BUILD_YEAR']

In [10]:
myDf = df[sel_c]

In [11]:
myDf.columns=['자치구명','법정동명','지번구분명','층수','계약일','전월세','면적','보증금','임대료','건물명','건축년도']

In [12]:
newDf = myDf[myDf.전월세 == '전세']

In [13]:
newDf.astype({'보증금':'int','임대료':'int'})

    자치구명   법정동명 지번구분명    층수       계약일 전월세     면적    보증금  임대료       건물명  건축년도
2    강남구    논현동    대지   5.0  20231212  전세  24.99  30000    0     동광팰리스  2016
5    도봉구     창동    대지   3.0  20231212  전세  59.97  32000    0      대우그린  2000
6    구로구    오류동    대지   2.0  20231212  전세  53.38  18900    0     대흥아트빌  2013
7    종로구   명륜3가    대지   3.0  20231212  전세  46.05  20000    0    (1-76)  1997
9    노원구    상계동    대지   6.0  20231212  전세  84.78  39000    0      노원현대  1997
..   ...    ...   ...   ...       ...  ..    ...    ...  ...       ...   ...
981  노원구    상계동    대지   3.0  20231211  전세  39.70  18000    0     은빛1단지  1998
982  양천구    신정동    대지   8.0  20231211  전세  33.62   2833    0        양천  1995
994  관악구    신림동    대지  12.0  20231211  전세  28.50  26000    0  신대방 노블루체  2019
996  용산구  청파동3가    대지   4.0  20231211  전세  29.21  25000    0     소미파크빌  2019
998  도봉구     창동    대지   1.0  20231211  전세  84.76  40000    0        쌍용  1997

[505 rows x 11 columns]

In [17]:
ddf = newDf.groupby('자치구명')[['보증금','임대료']].mean().round()

In [18]:
ddf.sort_values(by=['임대료'],ascending=False)

                                                    보증금    임대료
자치구명
성동구   2800030000891216474083004916312185805074878955...  800.0
강남구   9375110156812500866782673414910796951548724205...    0.0
서대문구     77778388890833353377071447276121736871936000.0    0.0
중구                 4571466714542859276961455217311744.0    0.0
종로구                2857167571687145379785850637778944.0    0.0
은평구   2454584091159092066554386824518648464739093473...    0.0
용산구      83333537785555579012586332443769061819547648.0    0.0
영등포구  1241676923269232027610428840610809757556602472...    0.0
양천구   8333555556877805100527443511350444333904609971...    0.0
송파구   6696562500410726140157763499591130189593479669...    0.0
성북구   5000106668066799779530902477630668640392604999...    0.0
서초구   4038472867420981941197001632719212938978054257...    0.0
마포구   6521830001618151535915650958508907087734224015...    0.0
강동구   3076935000092309927618482769962821247294884994...    0.0
동작구   6111303611666710388324119283524959049867774492...    0.0
동대문구  3928593929164291885714440294965766130536175035...    0.0
도봉구                4571478571842860026478745687687168.0    0.0
노원구   2785743571560715320668130964229848065026038541...    0.0
금천구       1933358066911115575762871439255592079720448.0    0.0
구로구   4725047501450002376543828018581872581451709186...    0.0
광진구      23333561113444490731078541274702730829496320.0    0.0
관악구   1517992858660865967366210180822686652634009605...    0.0
강서구   6166290096037851694496489183991627575631076228...    0.0
강북구   9091343638045474343015055576602321392488739082...    0.0
중랑구   1205012000273001205619493362529491464326616900...    0.0

In [21]:
ddf['x'] = round(ddf.임대료/ddf.보증금,4)

TypeError: loop of ufunc does not support argument 0 of type float which has no callable rint method

In [ ]:
ddf.sort_values(by=['x'],ascending=False)

In [27]:
import pymysql

In [30]:
anaconda Prompt

SyntaxError: invalid syntax (3358209991.py, line 1)

In [25]:
conda install pymysql

Note: you may need to restart the kernel to use updated packages.Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\NT950QDB-KC59S\anaconda3

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pymysql-1.0.2              |  py311haa95532_1          99 KB
    ------------------------------------------------------------
                                           Total:          99 KB

The following NEW packages will be INSTALLED:

  pymysql            pkgs/main/win-64::pymysql-1.0.2-py311haa95532_1



Downloading and Extracting Packages

pymysql-1.0.2        | 99 KB     |            |   0%
pymysql-1.0.2        | 99 KB     | #6         |  16%
pymysql-1.0.2        | 99 KB     | ########## | 100%
pymysql-1.0.2        | 99 KB     | ########## | 100%



Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 23.7.4
  latest version: 23.11.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.11.0

In [32]:
con = pymysql.connect(host = 'localhost', user = 'root', password = '1234',
                     db = 'test', charset = 'utf8')

In [33]:
cursor = con.cursor()

In [34]:
query = '''
    create table test(
    id varchar(20) NOT NULL,
    name varchar(20) NOT NULL,
    PRIMARY KEY(id)
    )
'''

In [50]:
cursor.execute(query)

1

In [45]:
con.commit()

In [43]:
query2 = 'insert into test(id,name) values("testid","testname")'

In [48]:
query3 = 'select * from test'

In [52]:
cursor.fetchall()

()

In [53]:
cursor = con.cursor(cursor = pymysql.cursors.DictCursor)

In [54]:
cursor.execute(query3)
cursor.fetchall()

[{'id': 'testId', 'name': 'testName'}]

In [59]:
import my_utills as mu

In [60]:
url = 'http://openapi.seoul.go.kr:8088/(인증키)/xml/tbLnOpendataRentV/1/5/'

In [63]:
df = mu.getDf(url)

In [64]:
df

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BOBN,BUBN,FLR_NO,...,RENT_GTN,RENT_FEE,BLDG_NM,BUILD_YEAR,HOUSE_GBN_NM,CNTRCT_PRD,NEW_RON_SECD,CNTRCT_UPDT_RQEST_AT,BEFORE_GRNTY_AMOUNT,BEFORE_MT_RENT_CHRGE
0,2023,11230,동대문구,10900,휘경동,1,대지,0312,0054,3.0,...,1000,45,(312-54),2010,연립다세대,24.01~25.01,신규,,0,0
1,2023,11740,강동구,10800,성내동,1,대지,0525,0006,2.0,...,18000,3,남영아트빌,2018,연립다세대,24.01~26.01,신규,,0,0
2,2023,11680,강남구,10800,논현동,1,대지,0104,0005,5.0,...,30000,0,동광팰리스,2016,연립다세대,,,,,
3,2023,11680,강남구,10400,청담동,1,대지,0046,0003,4.0,...,560,77,\t(46-3)\t,2003,오피스텔,23.12~24.12,신규,,0,0
4,2023,11680,강남구,10600,대치동,1,대지,1027,0000,15.0,...,80000,460,래미안대치팰리스,2015,아파트,24.01~26.01,갱신,,80000,324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2023,11710,송파구,10900,장지동,1,대지,0905,0000,15.0,...,6669,11,위례포레샤인23단지,2017,아파트,,신규,,0,0
996,2023,11170,용산구,11100,청파동3가,1,대지,0118,0162,4.0,...,25000,0,소미파크빌,2019,연립다세대,24.01~26.01,신규,,0,
997,2023,11710,송파구,10900,장지동,1,대지,0905,0000,6.0,...,6128,32,위례포레샤인23단지,2017,아파트,,신규,,0,0
998,2023,11320,도봉구,10700,창동,1,대지,0807,0000,1.0,...,40000,0,쌍용,1997,아파트,24.02~26.02,신규,,0,
999,2023,11710,송파구,10800,문정동,1,대지,0150,0000,13.0,...,20000,260,올림픽훼밀리타운,1988,아파트,24.02~26.02,신규,,0,0

In [22]:
import my_utills as mu

In [23]:
url = 'http://openapi.seoul.go.kr:8088/(인증키)/xml/tbLnOpendataRentV/1/5/'

In [24]:
df = mu.getDf(url)

In [25]:
sel = ['SGG_NM','BJDONG_NM','LAND_GBN_NM','FLR_NO','CNTRCT_DE','RENT_GBN','RENT_AREA','RENT_GTN','RENT_FEE','BLDG_NM','BUILD_YEAR']

In [26]:
myDf = df[sel]

In [27]:
myDf.columns=['자치구명','법정동명','지번구분명','층수','계약일','전월세','면적','보증금','임대료','건물명','건축년도']

In [32]:
query = """
    create table houseprice(
    자치구명 varchar(50),
    법정동명 varchar(50),
    지번구분명 varchar(50),
    층수 float,
    계약일 int,
    전월세 varchar(20),
    면적 float,
    보증금 int,
    임대료 int,
    건물명 varchar(100),
    건축년도 varchar(20)
    )
"""

In [33]:
myDf = myDf.astype({'층수':'float','계약일':'int','면적':'float','보증금':'int','임대료':'int'})

In [39]:
con = mu.connect_mysql()

In [40]:
mu.sql_execute(con,query2)

()

In [41]:
con.commit()

In [42]:
con.close()

In [38]:
query2 = (
    f'insert into houseprice(자치구명, 법정동명, 지번구분명, 층수, 계약일, 전월세, 면적, 보증금, 임대료, 건물명, 건축년도)'
    f'values({repr(myDf.자치구명.iloc[0])},{repr(myDf.법정동명.iloc[0])},{repr(myDf.지번구분명.iloc[0])},{myDf.층수.iloc[0]},'
    f'{myDf.계약일.iloc[0]},{repr(myDf.전월세.iloc[0])},{myDf.면적.iloc[0]},{myDf.보증금.iloc[0]},'
    f'{myDf.임대료.iloc[0]},{repr(myDf.건물명.iloc[0])},{repr(myDf.건축년도.iloc[0])})'
)

In [44]:
myDf.iloc[0]

자치구명          성북구
법정동명         상월곡동
지번구분명
층수            0.0
계약일      20231213
전월세            전세
면적           48.0
보증금         15000
임대료             0
건물명
건축년도         1994
Name: 0, dtype: object